<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>富邦台50</key>
	<dict>
		<key>Stock_type</key>
		<string>TW</string>
		<key>Name</key>
		<string>富邦台50</string>
		<key>Codename</key>
		<string>006208</string>
		<key>Position</key>
		<integer>0</integer>
		<key>Unit</key>
		<string>股</string>
		<key>TotalCost</key>
		<integer>0</integer>
	</dict>
	<key>國泰永續高股息</key>
	<dict>
		<key>Stock_type</key>
		<string>TW</string>
		<key>Name</key>
		<string>國泰永續高股息</string>
		<key>Codename</key>
		<string>00878</string>
		<key>Position</key>
		<integer>0</integer>
		<key>Unit</key>
		<string>股</string>
		<key>TotalCost</key>
		<integer>0</integer>
	</dict>
	<key>元大台灣價值高股息</key>
	<dict>
		<key>Stock_type</key>
		<string>TW</string>
		<key>Name</key>
		<string>元大台灣價值高股息</string>
		<key>Codename</key>
		<string>00940</string>
		<key>Position</key>
		<integer>0</integer>
		<key>Unit</key>
		<string>股</string>
		<key>TotalCost</key>
		<integer>0</integer>
	</dict>
	<key>台積電</key>
	<dict>
		<key>Stock_type</key>
		<string>TW</string>
		<key>Name</key>
		<string>台積電</string>
		<key>Codename</key>
		<string>2330</string>
		<key>Position</key>
		<integer>0</integer>
		<key>Unit</key>
		<string>股</string>
		<key>TotalCost</key>
		<integer>0</integer>
	</dict>
	<key>研華</key>
	<dict>
		<key>Stock_type</key>
		<string>TW</string>
		<key>Name</key>
		<string>研華</string>
		<key>Codename</key>
		<string>2395</string>
		<key>Position</key>
		<integer>0</integer>
		<key>Unit</key>
		<string>股</string>
		<key>TotalCost</key>
		<integer>0</integer>
	</dict>
	<key>友達</key>
	<dict>
		<key>Stock_type</key>
		<string>TW</string>
		<key>Name</key>
		<string>友達</string>
		<key>Codename</key>
		<string>2409</string>
		<key>Position</key>
		<integer>0</integer>
		<key>Unit</key>
		<string>股</string>
		<key>TotalCost</key>
		<integer>0</integer>
	</dict>
	<key>華新科</key>
	<dict>
		<key>Stock_type</key>
		<string>TW</string>
		<key>Name</key>
		<string>華新科</string>
		<key>Codename</key>
		<string>2492</string>
		<key>Position</key>
		<integer>0</integer>
		<key>Unit</key>
		<string>股</string>
		<key>TotalCost</key>
		<integer>0</integer>
	</dict>
	<key>富邦金</key>
	<dict>
		<key>Stock_type</key>
		<string>TW</string>
		<key>Name</key>
		<string>富邦金</string>
		<key>Codename</key>
		<string>2881</string>
		<key>Position</key>
		<integer>0</integer>
		<key>Unit</key>
		<string>股</string>
		<key>TotalCost</key>
		<integer>0</integer>
	</dict>
	<key>開發金</key>
	<dict>
		<key>Stock_type</key>
		<string>TW</string>
		<key>Name</key>
		<string>開發金</string>
		<key>Codename</key>
		<string>2883</string>
		<key>Position</key>
		<integer>0</integer>
		<key>Unit</key>
		<string>股</string>
		<key>TotalCost</key>
		<integer>0</integer>
	</dict>
	<key>大立光</key>
	<dict>
		<key>Stock_type</key>
		<string>TW</string>
		<key>Name</key>
		<string>大立光</string>
		<key>Codename</key>
		<string>3008</string>
		<key>Position</key>
		<integer>0</integer>
		<key>Unit</key>
		<string>股</string>
		<key>TotalCost</key>
		<integer>0</integer>
	</dict>
	<key>富采</key>
	<dict>
		<key>Stock_type</key>
		<string>TW</string>
		<key>Name</key>
		<string>富采</string>
		<key>Codename</key>
		<string>3714</string>
		<key>Position</key>
		<integer>0</integer>
		<key>Unit</key>
		<string>股</string>
		<key>TotalCost</key>
		<integer>0</integer>
	</dict>
	<key>訊連</key>
	<dict>
		<key>Stock_type</key>
		<string>TW</string>
		<key>Name</key>
		<string>訊連</string>
		<key>Codename</key>
		<string>5203</string>
		<key>Position</key>
		<integer>0</integer>
		<key>Unit</key>
		<string>股</string>
		<key>TotalCost</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
